@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  
}

body {
  color: white;
}

h1 {
  @apply text-4xl font-semibold;
  font-family: var(--font-roboto-mono);
}

h2 {
  @apply text-3xl font-semibold; 
  font-family: var(--font-roboto-mono);
}

h3 {
  @apply text-2xl font-medium;
  font-family: var(--font-roboto-mono);
}

h4 {
  @apply text-2xl font-normal;
  font-family: var(--font-hanuman);
}

.intro{
  overflow: visible;
}

.Typewriter {
  @apply text-3xl;
  font-family: var(--font-roboto-mono);
}

#welcome{
  @apply text-4xl !absolute lg:top-20 lg:left-80 md:left-1/2 sm:invisible md:visible; 
}

.welcome::before{
  @apply content-['________'] absolute text-red-700 border-r-4 border-green-500 h-full overflow-hidden animate-animate;
}

#about {
  @apply h-[580px] w-[830px] bg-white/10 my-auto mx-auto rounded-2xl backdrop-filter backdrop-blur-sm shadow-lg border-l-[#2A2329] border-l border-t-[#2A2329] border-t;
  text-shadow: 2px 2px 2px black;
}

.techstack-top{
  height: 118px;
}