@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 9px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
body {
  color: white;
}

h1 {
  @apply text-4xl font-semibold;
  font-family: var(--font-roboto-mono);
}

h2 {
  @apply text-3xl font-semibold; 
  font-family: var(--font-roboto-mono);
}

h3 {
  @apply text-2xl font-medium;
  font-family: var(--font-roboto-mono);
}

h4 {
  @apply text-2xl font-normal;
  font-family: var(--font-hanuman);
}

.intro{
  overflow: visible;
}

.Typewriter {
  @apply text-3xl;
  font-family: var(--font-roboto-mono);
}

#welcome{
  @apply text-4xl !absolute lg:top-20 lg:left-80 md:left-1/2 sm:invisible md:visible; 
}

.welcome::before{
  @apply content-['________'] absolute text-red-700 border-r-4 border-green-500 h-full overflow-hidden animate-animate;
}

#glass-about {
  @apply lg:h-[580px] lg:w-[830px] md:h-[600px] md:w-[800px] sm:h-[700px] sm:w-[380px] bg-white/10 lg:my-auto lg:mx-auto sm:mx-auto sm:my-24 rounded-2xl backdrop-filter backdrop-blur-sm shadow-lg border-l-[#2A2329] border-l border-t-[#2A2329] border-t;
  text-shadow: 2px 2px 2px black;
}

.techstackrow{
  @apply lg:mx-auto md:mx-6 sm:mx-5
}

.toolTipContainer .toolTip{
  @apply invisible left-0 mr-7 z-10 bottom-16 h-[70px] w-[130px] bg-slate-800 rounded-2xl backdrop-filter backdrop-blur-sm shadow-lg border-l-[#2A2329] border-l border-t-[#2A2329] border-t
}

.toolTipContainer:hover .toolTip{  
  @apply visible
}

.toolTip:hover {
  @apply invisible
}

.toolTip p {
  @apply left-4
}

#glass-work {
  @apply lg:h-[580px] lg:w-[1200px] md:h-[600px] md:w-[800px] sm:h-[700px] sm:w-[380px] bg-white/10 lg:my-auto lg:mx-auto sm:mx-auto sm:my-24 rounded-2xl backdrop-filter backdrop-blur-sm shadow-lg border-l-[#2A2329] border-l border-t-[#2A2329] border-t;
  text-shadow: 2px 2px 2px black;
}

.projects {
  @apply lg:h-[380px] lg:w-[1100px] lg:ml-16 lg:mr-6 md:h-[400px] md:w-[700px] md:mr-5 md:ml-12 sm:ml-4 sm:mr-1 sm:h-[500px] sm:w-[350px]

}

